

.text {
  padding: 10px;
  padding-left:40px; 
  padding-right:40px;
  text-align:center; 
}

.text a.link_to_text {
  display:block;
  color: #444;
  text-decoration:none;
}


.text .header:hover {
  background-color:#aef;
}

.text .header {
 display:block;
 font-size: 24px;
 color:#222;
 position: relative;
}


.newtext {
  padding: 10px;
  padding-left:40px; 
  padding-right:40px;
  text-align:center; 
}

.newtext a {
  display:block;
  color: #777;
  text-decoration:none;
}


.newtext a:hover {
  background-color:#aef;
}

.newtext .header {
 font-size: 23px;
 color:#777;
}

.del_text_button {
  display: none;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #333;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 12px;
  padding: 2px;
  background-color: #bbb;
  color: #444;
  text-decoration:none;

}

.text .header:hover .del_text_button {
  display: block;
}


